body {
  margin: 0px;
}

#wrapper {
  position: relative;

}
#button {
   background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  background: unset !important;
  border: unset !important;
  outline: unset !important;
}

.bc {
  position: fixed;
  bottom: 0px;
  left: 10%;
  width: 20%;
}

#bulb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
